@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.meme-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-mem {
  flex-shrink: 1; /*lo que se contrae un item del flex*/
  flex-basis: 24%;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-style: italic;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input,.search-btn,.login, .contacto, .SignIn{
  border: 1px solid gray;
  border-radius: 5px;
}
.search-input {
  width: calc(30% - 2em);
  padding: 5 px 8px;
  margin: 0 8px
}

.search-btn {
  padding: 5px 5px;
}

.logoEmpresa{
  width: 200px;
  height: 200px;
  margin: 0;
  margin-left: 5vw;
  border-radius: 40%;
  transition: transform .9s;
}

.logoEmpresa:hover{
  transform: scale(1.1); 
}

.login,.SignIn,.contacto,.documentos,.contraseñas,.imagenes,.seguridad{
  font-family: 'Rubik', sans-serif, 800;
  font-weight: 900;
  padding: 50px 50px;
  width: 90%;
  color: black;
  background-image:linear-gradient(to bottom, #7aadf0 0%, #eff6fd 100%);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  transition: all 1s ease;
}


.contacto:hover,.login:hover,.SignIn:hover,.contraseñas:hover,.documentos:hover,.imagenes:hover,.seguridad:hover{
  background-image:linear-gradient(to bottom,#488ff3 0%, #eff6fd 100%);
  color: #797575;
  box-shadow: inset 0 0 0 3px #3a7999;
}

footer{
  background-color: #333f48;
  position: absolute;
  text-align:center;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: aliceblue;
  font-family: Arial;
  font-size: 18px; 
}


body {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
  margin-left: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("imagenes/fondop2.jpeg");
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img1{
  width: 70vh;
  height: 50vh;
  display: block;
  margin: auto;
  margin-top: 1vh;
  border-radius: 3%;
  transition: transform .9s;
}

.img1:hover{
  transform: scale(1.1); 
}

.tercio {
  padding-top: 5%;
  padding-bottom: 2%;
  background-image: url("imagenes/fondo.jpg");
}
.botones {
  text-align: center;
  padding-top: 2vh; 
}
.descripcion{
  text-align: center;
  white-space:unset;
}
.cabecera{
  width: 100%;
  background-image: linear-gradient(to bottom, #7aadf0 0%, #eff6fd 100%);

}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 15%;  
  bottom: 15%;  
  margin: auto;  
  border-radius: 20px;  

  background-image: url("imagenes/fondoPU.jpg");
}

.titulo {
  padding-top: 4%;
  font-size: 40px;
  font-weight: 800;
  
}
.formularioLogin{
  text-align: center;
}

.addButton{
  border: none;
  outline: none;
  position: absolute;
  right: 9%;
  bottom: 14%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  

 
}
.add{
  width: 100%;
}
.cajaFuerte{
  
  position: absolute;
  padding-left: 44%;
  padding-top: 10%;
 
}
.caja {
  width:20%;
  height: 30%;
  text-align: center;
}
.textoImagen{
  font-family: Arial;
  font-size: 15px; 
  margin-top: 33vh;
  text-align: center;
}

/*

.login::after{
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 0;
  bottom: 650px;
  left: 570px;
  background-color:beige;
  transition: width 0.3s ease-in-out;
}
.login:hover::after{
  width: 145px
}

.contacto::after,.contacto::before{
  content: '';
  display: block;
  position: absolute;
  width: 4%;
  height: 7%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.contacto::after{
  bottom: 78vh;
  right: 44vw;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #435a6b;
  border-right-color :#435a6b;

}

.contacto::before{
  top: 12vh;
  left: 38vw;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #435a6b;
  border-left-color: #435a6b;
}

.contacto:hover::after,.contacto:hover::before{
  border-bottom-color: #435a6b;
  border-right-color: #435a6b;    
  border-top-color: #435a6b;
  border-left-color: #435a6b;
  width: 19%;
  height: 12%;
}


img {
  width: 200px;
  height: 200px;
  margin: 0;
}




*/